.about {
  position: relative;
  width: 100%;
  padding: rem(20px) 0;
  background: $feedback-bg;

  @media (min-width: $tablet) {

    padding: rem(38px) 0;
  }


  h2 {
    text-align: left;
  }

  ul {
    li {
      position: relative;
      padding-left:rem(15px);
      margin-top: rem(4px);

      &:first-child {
        margin-top: 0;
      }

      &::before {
        position: absolute;
        content: "";

        width: rem(5px);
        height: rem(5px);
        border-radius: 50%;

        left: 0;
        top: rem(6px);

        background: #214e9b;

        @media (min-width: $tablet) {

          top: rem(8px);
        }
      }
    }
  }
}