<section class="about">
  <div class="wrapper">
    <h2 class="text--xl">О проекте</h2>
    <p>В современном, динамическом мире все время что-то меняется и психика человека не всегда способна
      быстро и адекватно отреагировать на эти изменения. Мы сталкиваемся с новыми трудностями.
      Проблемы копятся, мешая нам быть счастливыми.
    </p>
    <ul>
      <li>Самостоятельно проблемы не решаются и вы увязаете все глубже?</li>
      <li>Наступило время, когда необходимо обратиться за помощью к психологу.</li>
      <li>Как найти подходящего психолога среди тонны других специалистов?</li>
      <li>Кому доверять? Как дорого стоит ваше время и здоровье?</li>
    </ul>
    <p>
      Псисовет поможет решить Ваши вопросы. Мы работаем круглосуточно и не важно в какое время суток
      и из какого часового пояса вы - мы всегда готовы прийти на помощь и предложить на выбор как
      платные так и <b>бесплатные консультации психолога онлайн.</b> Все психологи проверенные, с дипломами,
      со значительным стажем, реальными отзывами. Вы сможете выбрать для себя формат для консультации
      психолога: развернутый, приватный, в удобное для вас время и в удобной для вас форме.
      У нас всегда можно получить совет психолога онлайн по интересующей ситуации.
      Психологическая помощь оказывается профессионально, анонимно.
    </p>
    <p>
      На данный момент более <b>300</b> квалифицированных психологов, с большим опытом работы,
      которые провели более <b>20.000 консультаций.</b> Наши клиенты советуют нас своим друзьям и близким.
    </p>
  </div>
</section>