<section class="consultations">
  <div class="wrapper">
    <h2 class="text--xl">Последние консультации психологов</h2>

    <input type="radio" id="slide1" name="radio" checked>
    <input type="radio" id="slide2" name="radio">

    <div class="consultations__controls">
      <label for="slide1">
        <div class="consultations__control">
          <span>Бесплатные</span>
        </div>
      </label>
      <label for="slide2">
        <div class="consultations__control">
          <span>Платные</span>
        </div>
      </label>
    </div>

    <ul class="consultations__list">
      <li class="consultations__item consultations__item--nofree">
        <span class="consultations__when text--when">Сегодня в 3:58</span>
        <p class="consultations__name">Оскорбление девушка обзывает и игнорит</p>
        <span class="consultations__answer">24 ответа</span>
        <span class="consultations__prise">Стоимость: <span>700 &#8381</span></span>
      </li>

      <li class="consultations__item consultations__item--nofree">
        <span class="consultations__when text--when">Сегодня в 3:58</span>
        <p class="consultations__name">Не люблю мужа, но не могу уйти</p>
        <span class="consultations__answer">24 ответа</span>
        <span class="consultations__prise">Стоимость: <span>800 &#8381</span></span>
      </li>

      <li class="consultations__item consultations__item--nofree">
        <span class="consultations__when text--when">Сегодня в 3:58</span>
        <p class="consultations__name">Ненавижу себя за существование</p>
        <span class="consultations__answer">24 ответа</span>
        <span class="consultations__prise">Стоимость: <span>1100 &#8381</span></span>
      </li>

      <li class="consultations__item consultations__item--nofree">
        <span class="consultations__when text--when">Сегодня в 3:58</span>
        <p class="consultations__name">Смена работы</p>
        <span class="consultations__answer">24 ответа</span>
        <span class="consultations__prise">Стоимость: <span>2000 &#8381</span></span>
      </li>

      <li class="consultations__item consultations__item--nofree">
        <span class="consultations__when text--when">Сегодня в 3:58</span>
        <p class="consultations__name">Семейные отношения с родной сестрой</p>
        <span class="consultations__answer">24 ответа</span>
        <span class="consultations__prise">Стоимость: <span>900 &#8381</span></span>
      </li>

      <li class="consultations__item consultations__item--nofree">
        <span class="consultations__when text--when">Сегодня в 3:58</span>
        <p class="consultations__name">Оскорбление девушка обзывает и игнорит</p>
        <span class="consultations__answer">24 ответа</span>
        <span class="consultations__prise">Стоимость: <span>700 &#8381</span></span>
      </li>

      <li class="consultations__item consultations__item--nofree">
        <span class="consultations__when text--when">Сегодня в 3:58</span>
        <p class="consultations__name">Не люблю мужа, но не могу уйти</p>
        <span class="consultations__answer">24 ответа</span>
        <span class="consultations__prise">Стоимость: <span>800 &#8381</span></span>
      </li>

      <li class="consultations__item consultations__item--nofree">
        <span class="consultations__when text--when">Сегодня в 3:58</span>
        <p class="consultations__name">Ненавижу себя за существование</p>
        <span class="consultations__answer">24 ответа</span>
        <span class="consultations__prise">Стоимость: <span>1100 &#8381</span></span>
      </li>

      <li class="consultations__item consultations__item--free">
        <span class="consultations__when text--when">Сегодня в 3:58</span>
        <p class="consultations__name">Смена работы</p>
        <span class="consultations__answer">24 ответа</span>
        <span class="consultations__prise">Стоимость: <span>бесплатно</span></span>
      </li>

      <li class="consultations__item consultations__item--free">
        <span class="consultations__when text--when">Сегодня в 3:58</span>
        <p class="consultations__name">Семейные отношения с родной сестрой</p>
        <span class="consultations__answer">24 ответа</span>
        <span class="consultations__prise">Стоимость: <span>бесплатно</span></span>
      </li>

      <li class="consultations__item consultations__item--free">
        <span class="consultations__when text--when">Сегодня в 3:58</span>
        <p class="consultations__name">Оскорбление девушка обзывает и игнорит</p>
        <span class="consultations__answer">24 ответа</span>
        <span class="consultations__prise">Стоимость: <span>бесплатно</span></span>
      </li>

      <li class="consultations__item consultations__item--free">
        <span class="consultations__when text--when">Сегодня в 3:58</span>
        <p class="consultations__name">Не люблю мужа, но не могу уйти</p>
        <span class="consultations__answer">24 ответа</span>
        <span class="consultations__prise">Стоимость: <span>бесплатно</span></span>
      </li>

      <li class="consultations__item consultations__item--free">
        <span class="consultations__when text--when">Сегодня в 3:58</span>
        <p class="consultations__name">Ненавижу себя за существование</p>
        <span class="consultations__answer">24 ответа</span>
        <span class="consultations__prise">Стоимость: <span>бесплатно</span></span>
      </li>

      <li class="consultations__item consultations__item--nofree">
        <span class="consultations__when text--when">Сегодня в 3:58</span>
        <p class="consultations__name">Смена работы</p>
        <span class="consultations__answer">24 ответа</span>
        <span class="consultations__prise">Стоимость: <span>2000 &#8381</span></span>
      </li>

      <li class="consultations__item consultations__item--nofree">
        <span class="consultations__when text--when">Сегодня в 3:58</span>
        <p class="consultations__name">Семейные отношения с родной сестрой</p>
        <span class="consultations__answer">24 ответа</span>
        <span class="consultations__prise">Стоимость: <span>900 &#8381</span></span>
      </li>
    </ul>

    <div class="consultations__all">
      <a href="#">Посмотреть все консультации психологов</a>
    </div>
  </div>
</section>