<section class="features">
  <div class="wrapper">
    <h2 class="text--xl">Наши преимущества</h2>

    <ul>
      <li>Консультации бесплатные, анонимные;</li>
      <li>Профессиональные консультации от проверенных психологов с дипломами и большим стажем;</li>
      <li>Все психологи с отзывами;</li>
      <li>Разные типы консультаций (Skype, телефон, вайбер, вотсап, текстовые и голосовые консультации, в режиме
        чата);</li>
      <li>Есть дополнительные платные опции (Получить быстрый ответ, скрыть консультацию);</li>
      <li>В удобное для Вас время, быстрый ответ (за 5 минут);</li>
      <li>Не понравится консультация одного из психологов, есть возможность выбрать другого (платно);</li>


    </ul>
  </div>
</section>