<section class="feedback">

  <h2 class="text--xl">Благодарность, и отзывы о наших психологах от <span>752 830</span>
    человек</h2>

  <div class="feedback__slider swiper-container">

    <div class="feedback__wrapper swiper-wrapper">

      <article class="feedback__item swiper-slide">
        <div class="feedback__personal">
          <a class="feedback__name" href="#">Регина</a>
          <span class="feedback__when text--when">32 мин. назад</span>
          <p class="feedback__text">Ольга Дорошенко отличный специалист! Она помогла
            мне решить мою проблему! Всегда отвечала
            практически сразу после задавания ей вопросов!...
          </p>
          <div class="feedback__quest-box">
            <span>Вопрос:</span>
            <a href="#"">Зависимость от отношений, которые
                приносят боль
              </a>
            </div>
          </div>

          <div class="
              feedback__psy">
              <div class="psy">
                <div class="psy__person">
                  <div class="psy__foto-box">
                    <img class="psy__foto" src="./static/img/psy-dor.png" width="77" height="55" alt="photo">
                  </div>
                  <div class="psy__main">
                    <a href="#" class="psy__name online">Ольга Дорошенко</a>
                    <span class="psy__prof">Психолог</span>
                  </div>
                </div>
                <div class="psy__work">
                  <span class="psy__stage">Стаж 10 лет</span>
                  <div class="psy__stars">
                    @@include('./star.svg')
                    @@include('./star.svg')
                    @@include('./star.svg')
                    @@include('./star.svg')
                    @@include('./star.svg')
                  </div>
                </div>
              </div>
          </div>
      </article>

      <article class="feedback__item swiper-slide">
        <div class="feedback__personal">
          <a class="feedback__name" href="#">Регина</a>
          <span class="feedback__when text--when">32 мин. назад</span>
          <p class="feedback__text">Ольга Дорошенко отличный специалист! Она помогла
            мне решить мою проблему! Всегда отвечала
            практически сразу после задавания ей вопросов!...
          </p>
          <div class="feedback__quest-box">
            <span>Вопрос:</span>
            <a href="#"">Зависимость от отношений, которые
                  приносят боль
                </a>
              </div>
            </div>

            <div class="
              feedback__psy">
              <div class="psy">
                <div class="psy__person">
                  <div class="psy__foto-box">
                    <img class="psy__foto" src="./static/img/psy-dor.png" width="77" height="55" alt="photo">
                  </div>
                  <div class="psy__main">
                    <a href="#" class="psy__name online">Ольга Дорошенко</a>
                    <span class="psy__prof">Психолог</span>
                  </div>
                </div>
                <div class="psy__work">
                  <span class="psy__stage">Стаж 10 лет</span>
                  <div class="psy__stars">
                    @@include('./star.svg')
                    @@include('./star.svg')
                    @@include('./star.svg')
                    @@include('./star.svg')
                    @@include('./star.svg')
                  </div>
                </div>
              </div>
          </div>
      </article>

      <article class="feedback__item swiper-slide">
        <div class="feedback__personal">
          <a class="feedback__name" href="#">Регина</a>
          <span class="feedback__when text--when">32 мин. назад</span>
          <p class="feedback__text">Ольга Дорошенко отличный специалист! Она помогла
            мне решить мою проблему! Всегда отвечала
            практически сразу после задавания ей вопросов!...
          </p>
          <div class="feedback__quest-box">
            <span>Вопрос:</span>
            <a href="#"">Зависимость от отношений, которые
                    приносят боль
                  </a>
                </div>
              </div>
  
              <div class="
              feedback__psy">
              <div class="psy">
                <div class="psy__person">
                  <div class="psy__foto-box">
                    <img class="psy__foto" src="./static/img/psy-dor.png" width="77" height="55" alt="photo">
                  </div>
                  <div class="psy__main">
                    <a href="#" class="psy__name online">Ольга Дорошенко</a>
                    <span class="psy__prof">Психолог</span>
                  </div>
                </div>
                <div class="psy__work">
                  <span class="psy__stage">Стаж 10 лет</span>
                  <div class="psy__stars">
                    @@include('./star.svg')
                    @@include('./star.svg')
                    @@include('./star.svg')
                    @@include('./star.svg')
                    @@include('./star.svg')
                  </div>
                </div>
              </div>
          </div>
      </article>

      <article class="feedback__item swiper-slide">
        <div class="feedback__personal">
          <a class="feedback__name" href="#">Регина</a>
          <span class="feedback__when text--when">32 мин. назад</span>
          <p class="feedback__text">Ольга Дорошенко отличный специалист! Она помогла
            мне решить мою проблему! Всегда отвечала
            практически сразу после задавания ей вопросов!...
          </p>
          <div class="feedback__quest-box">
            <span>Вопрос:</span>
            <a href="#"">Зависимость от отношений, которые
                      приносят боль
                    </a>
                  </div>
                </div>
    
                <div class="
              feedback__psy">
              <div class="psy">
                <div class="psy__person">
                  <div class="psy__foto-box">
                    <img class="psy__foto" src="./static/img/psy-dor.png" width="77" height="55" alt="photo">
                  </div>
                  <div class="psy__main">
                    <a href="#" class="psy__name online">Ольга Дорошенко</a>
                    <span class="psy__prof">Психолог</span>
                  </div>
                </div>
                <div class="psy__work">
                  <span class="psy__stage">Стаж 10 лет</span>
                  <div class="psy__stars">
                    @@include('./star.svg')
                    @@include('./star.svg')
                    @@include('./star.svg')
                    @@include('./star.svg')
                    @@include('./star.svg')
                  </div>
                </div>
              </div>
          </div>
      </article>

      <article class="feedback__item swiper-slide">
        <div class="feedback__personal">
          <a class="feedback__name" href="#">Регина</a>
          <span class="feedback__when text--when">32 мин. назад</span>
          <p class="feedback__text">Ольга Дорошенко отличный специалист! Она помогла
            мне решить мою проблему! Всегда отвечала
            практически сразу после задавания ей вопросов!...
          </p>
          <div class="feedback__quest-box">
            <span>Вопрос:</span>
            <a href="#"">Зависимость от отношений, которые
                        приносят боль
                      </a>
                    </div>
                  </div>
      
                  <div class="
              feedback__psy">

              <div class="psy">
                <div class="psy__person">
                  <div class="psy__foto-box">
                    <img class="psy__foto" src="./static/img/psy-dor.png" width="77" height="55" alt="photo">
                  </div>
                  <div class="psy__main">
                    <a href="#" class="psy__name online">Ольга Дорошенко</a>
                    <span class="psy__prof">Психолог</span>
                  </div>
                </div>
                <div class="psy__work">
                  <span class="psy__stage">Стаж 10 лет</span>
                  <div class="psy__stars">
                    @@include('./star.svg')
                    @@include('./star.svg')
                    @@include('./star.svg')
                    @@include('./star.svg')
                    @@include('./star.svg')
                  </div>
                </div>
              </div>
          </div>
      </article>
    </div>

    <div class="feedback__all">
      <a href="#">Все отзывы о наших психологах</a>
    </div>
</section>