<section class="feedback-bot">
  <div class="wrapper">
    <h2 class="text--xl">Отзывы о нашем сайте</h2>


    <div class="feedback-bot__slider swiper-container">


      <div class="feedback-bot__slider-button feedback-bot__slider-button--prev swiper-button-prev">
      </div>

      <div class="feedback-bot__slider-button feedback-bot__slider-button--next swiper-button-next">
      </div>

      <div class="feedback-bot__wrapper swiper-wrapper">


        <article class="feedback-bot__item swiper-slide">
          <p class="feedback-bot__text">Предложений нет, есть чувство благодарности за этот форум.
            Не случайно оказались здесь, когда состояние было невыносимым. Не знала как справится со своей ...
          </p>
          <span>Лора</span>
        </article>

        <article class="feedback-bot__item swiper-slide">
          <p class="feedback-bot__text">Спасибо за форум и ответы, которые я могу получать здесь!
          </p>
          <span>Сергей</span>
        </article>

        <article class="feedback-bot__item swiper-slide">
          <p class="feedback-bot__text">Предложений нет, есть чувство благодарности за этот форум. Не случайно
            оказались здесь, когда состояние было невыносимым. Не знала как справится со своей ...
          </p>
          <span>Александра</span>
        </article>

        <article class="feedback-bot__item swiper-slide">
          <p class="feedback-bot__text">Спасибо за форум и ответы, которые я могу получать здесь!
          </p>
          <span>Сергей</span>
        </article>
      </div>
    </div>
</section>