<footer class="footer">
  <div class="wrapper">
    <ul class="footer__nav">
      <li>
        <a hred="#">Наши психологи</a>
      </li>
      <li>
        <a hred="#">О проекте</a>
      </li>
      <li>
        <a hred="#">Правовые документы</a>
      </li>
      <li>
        <a hred="#">Психологам</a>
      </li>
      <li>
        <a hred="#">Обратная связь<span>@@include('./relink.svg')</span>
        </a>
      </li>
    </ul>

    <ul class="footer__icons">
      <li>
        <a hred="#">
          @@include('./fb.svg')
        </a>
      </li>
      <li>
        <a hred="#">
          @@include('./vk.svg')
        </a>
      </li>
      <li>
        <a hred="#">
          @@include('./twit.svg')
        </a>
      </li>
      <li>
        <a hred="#">
          @@include('./ok.svg')
        </a>
      </li>
    </ul>

    <p>
      Форум по спихологи: консультации психологов онлайн (психология личности, отношения в парах,
      самейные отношения, детская психология. При полном или частичном использовании материалов форума по
      психологии обязательна активная прямая ссылка.
    </p>

    <span class="footer__copyright">2015 -2018 © PsySovet.ru. Консультации психологов онлайн</span>
  </div>
</footer>