<section class="intro-psy">
  <div class="wrapper">
    <h2 class="text--xl">На нашем сайте более <span>100</span> психологов</h2>
    <p class="intro-psy__intro">
      Ваши вопросы Вы можете задать в разделах или написать психологу через личные сообщения. Для
      получения консультаций психолога онлайн требудется регистрация.
    </p>
  </div>

  <div class="intro-psy__slider swiper-container">

    <div class="intro-psy__wrapper swiper-wrapper">

      <article class="intro-psy__item swiper-slide">
        <div class="intro-psy__personal">
          <div class="intro-psy__foto-box">
            <img class="intro-psy__foto" src="./static/img/psy-1.png" width="379" alt="photo">
          </div>
          <div class="psy__main">
            <a href="#" class="psy__name online">Ольга Дорошенко</a>
            <span class="psy__prof">Практический психолог</span>
          </div>

          <div class="psy__stars">
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
          </div>
        </div>

        <a class="intro-psy__personal-feedback" href="#">19 отзывов</a>
      </article>

      <article class="intro-psy__item swiper-slide">
        <div class="intro-psy__personal">
          <div class="intro-psy__foto-box">
            <img class="intro-psy__foto intro-psy__foto--2" src="./static/img/psy-2.png" width="499" alt="photo">
          </div>
          <div class="psy__main">
            <a href="#" class="psy__name online">Мария Виноградова</a>
            <span class="psy__prof">Практический психолог</span>
          </div>

          <div class="psy__stars">
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star-none.svg')
          </div>
        </div>

        <a class="intro-psy__personal-feedback" href="#">19 отзывов</a>
      </article>

      <article class="intro-psy__item swiper-slide">
        <div class="intro-psy__personal">
          <div class="intro-psy__foto-box">
            <img class="intro-psy__foto intro-psy__foto--3" src="./static/img/psy-3.png" width="163" alt="photo">
          </div>
          <div class="psy__main">
            <a href="#" class="psy__name online">Александр Стемковский</a>
            <span class="psy__prof">Практический психолог</span>
          </div>

          <div class="psy__stars">
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
          </div>
        </div>

        <a class="intro-psy__personal-feedback" href="#">19 отзывов</a>
      </article>

      <article class="intro-psy__item swiper-slide">
        <div class="intro-psy__personal">
          <div class="intro-psy__foto-box">
            <img class="intro-psy__foto intro-psy__foto--4" src="./static/img/psy-4.png" width="443" alt="photo">
          </div>
          <div class="psy__main">
            <a href="#" class="psy__name online">Ольга Дорошенко</a>
            <span class="psy__prof">Практический психолог</span>
          </div>

          <div class="psy__stars">
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
          </div>
        </div>

        <a class="intro-psy__personal-feedback" href="#">19 отзывов</a>
      </article>

      <article class="intro-psy__item swiper-slide">
        <div class="intro-psy__personal">
          <div class="intro-psy__foto-box">
            <img class="intro-psy__foto intro-psy__foto--5" src="./static/img/psy-5.png" width="284" alt="photo">
          </div>
          <div class="psy__main">
            <a href="#" class="psy__name online">Мария Виноградова</a>
            <span class="psy__prof">Практический психолог</span>
          </div>

          <div class="psy__stars">
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
          </div>
        </div>

        <a class="intro-psy__personal-feedback" href="#">19 отзывов</a>
      </article>

      <article class="intro-psy__item swiper-slide">
        <div class="intro-psy__personal">
          <div class="intro-psy__foto-box">
            <img class="intro-psy__foto" src="./static/img/psy-1.png" width="379" alt="photo">
          </div>
          <div class="psy__main">
            <a href="#" class="psy__name online">Ольга Дорошенко</a>
            <span class="psy__prof">Практический психолог</span>
          </div>

          <div class="psy__stars">
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
          </div>
        </div>

        <a class="intro-psy__personal-feedback" href="#">19 отзывов</a>
      </article>

      <article class="intro-psy__item swiper-slide">
        <div class="intro-psy__personal">
          <div class="intro-psy__foto-box">
            <img class="intro-psy__foto intro-psy__foto--2" src="./static/img/psy-2.png" width="499" alt="photo">
          </div>
          <div class="psy__main">
            <a href="#" class="psy__name online">Мария Виноградова</a>
            <span class="psy__prof">Практический психолог</span>
          </div>

          <div class="psy__stars">
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star-none.svg')
          </div>
        </div>

        <a class="intro-psy__personal-feedback" href="#">19 отзывов</a>
      </article>

      <article class="intro-psy__item swiper-slide">
        <div class="intro-psy__personal">
          <div class="intro-psy__foto-box">
            <img class="intro-psy__foto intro-psy__foto--3" src="./static/img/psy-3.png" width="163" alt="photo">
          </div>
          <div class="psy__main">
            <a href="#" class="psy__name online">Александр Стемковский</a>
            <span class="psy__prof">Практический психолог</span>
          </div>

          <div class="psy__stars">
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
          </div>
        </div>

        <a class="intro-psy__personal-feedback" href="#">19 отзывов</a>
      </article>

      <article class="intro-psy__item swiper-slide">
        <div class="intro-psy__personal">
          <div class="intro-psy__foto-box">
            <img class="intro-psy__foto intro-psy__foto--4" src="./static/img/psy-4.png" width="443" alt="photo">
          </div>
          <div class="psy__main">
            <a href="#" class="psy__name online">Ольга Дорошенко</a>
            <span class="psy__prof">Практический психолог</span>
          </div>

          <div class="psy__stars">
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
          </div>
        </div>

        <a class="intro-psy__personal-feedback" href="#">19 отзывов</a>
      </article>

      <article class="intro-psy__item swiper-slide">
        <div class="intro-psy__personal">
          <div class="intro-psy__foto-box">
            <img class="intro-psy__foto intro-psy__foto--5" src="./static/img/psy-5.png" width="284" alt="photo">
          </div>
          <div class="psy__main">
            <a href="#" class="psy__name online">Мария Виноградова</a>
            <span class="psy__prof">Практический психолог</span>
          </div>

          <div class="psy__stars">
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
            @@include('./star.svg')
          </div>
        </div>

        <a class="intro-psy__personal-feedback" href="#">19 отзывов</a>
      </article>

    </div>
  </div>

  <div class="intro-psy__all">
    <a href="#">Все психологи</a>
  </div>
</section>