<section class="psy-online">
  <h2 class="text--xl">Психологи онлайн:</h2>

  <ul class="psy-online__list">
    <li class="psy">
      <div class="psy__person">
        <div class="psy__foto-box">
          <img class="psy__foto" src="./static/img/psy-dor.png" width="77" height="55" alt="photo">
        </div>
        <div class="psy__main">
          <a href="#" class="psy__name online">Ольга Дорошенко</a>
          <span class="psy__prof">Психолог</span>
        </div>
      </div>
    </li>

    <li class="psy">
      <div class="psy__person">
        <div class="psy__foto-box">
          <img class="psy__foto" src="./static/img/psy-dor.png" width="77" alt="photo">
        </div>
        <div class="psy__main">
          <a href="#" class="psy__name online">Ольга Дорошенко</a>
          <span class="psy__prof">Психолог</span>
        </div>
      </div>
    </li>

    <li class="psy">
      <div class="psy__person">
        <div class="psy__foto-box">
          <img class="psy__foto" src="./static/img/psy-perelad.png" width="77" alt="photo">
        </div>
        <div class="psy__main">
          <a href="#" class="psy__name online">Оксана Переладова</a>
          <span class="psy__prof">Психоаналитический психотерапевт</span>
        </div>
      </div>
    </li>

    <li class="psy">
      <div class="psy__person">
        <div class="psy__foto-box">
          <img class="psy__foto" src="./static/img/psy-perelad.png" width="77" alt="photo">
        </div>
        <div class="psy__main">
          <a href="#" class="psy__name online">Оксана Переладова</a>
          <span class="psy__prof">Психоаналитический психотерапевт</span>
        </div>
      </div>
    </li>

    <li class="psy">
      <div class="psy__person">
        <div class="psy__foto-box">
          <img class="psy__foto" src="./static/img/psy-dor.png" width="77" height="55" alt="photo">
        </div>
        <div class="psy__main">
          <a href="#" class="psy__name online">Ольга Дорошенко</a>
          <span class="psy__prof">Психолог</span>
        </div>
      </div>
    </li>

    <li class="psy">
      <div class="psy__person">
        <div class="psy__foto-box">
          <img class="psy__foto" src="./static/img/psy-dor.png" width="77" height="55" alt="photo">
        </div>
        <div class="psy__main">
          <a href="#" class="psy__name online">Ольга Дорошенко</a>
          <span class="psy__prof">Психолог</span>
        </div>
      </div>
    </li>

    <li class="psy">
      <div class="psy__person">
        <div class="psy__foto-box">
          <img class="psy__foto" src="./static/img/psy-perelad.png" width="77" alt="photo">
        </div>
        <div class="psy__main">
          <a href="#" class="psy__name online">Оксана Переладова</a>
          <span class="psy__prof">Психоаналитический психотерапевт</span>
        </div>
      </div>
    </li>

    <li class="psy">
      <div class="psy__person">
        <div class="psy__foto-box">
          <img class="psy__foto" src="./static/img/psy-perelad.png" width="77" alt="photo">
        </div>
        <div class="psy__main">
          <a href="#" class="psy__name online">Оксана Переладова</a>
          <span class="psy__prof">Психоаналитический психотерапевт</span>
        </div>
      </div>
    </li>

    <li class="psy">
      <div class="psy__person">
        <div class="psy__foto-box">
          <img class="psy__foto" src="./static/img/psy-dor.png" width="77" height="55" alt="photo">
        </div>
        <div class="psy__main">
          <a href="#" class="psy__name online">Ольга Дорошенко</a>
          <span class="psy__prof">Психолог</span>
        </div>
      </div>
    </li>

    <li class="psy">
      <div class="psy__person">
        <div class="psy__foto-box">
          <img class="psy__foto" src="./static/img/psy-dor.png" width="77" height="55" alt="photo">
        </div>
        <div class="psy__main">
          <a href="#" class="psy__name online">Ольга Дорошенко</a>
          <span class="psy__prof">Психолог</span>
        </div>
      </div>
    </li>
  </ul>

  <span class="psy-online__info">Всего: 317 психологов на сайте, 1748 пользователей.</span>
</section>