<section class="question">
  <div class="wrapper">
    <h2 class="text--xl">Вопросы психологам</h2>
  </div>

  <div class="wrapper">

    <ul class="question__list">

      <li class="question__item">
        <div class="question__main">
          <h3 class="question__title">
            <span>
              @@include('./masken.svg')
            </span>
            Психология личности</h3>
          <p class="question__text">Одиночество, неуверенность в себе, тревога, страх, потери, отсутствие смысла
            жизни,
            травмы, стресс, депрессия, психосоматические заболевания, нарушение, сна, панические атаки,
            навязчивые идеи, зависимости. Самоанализ, самопознание.
          </p>
        </div>
        <ul class="question__links">
          <li class="question__link">
            <a href="#">Апатия и как с ней бороться</a>
          </li>
          <li class="question__link">
            <a href="#">Вранье и преувеличение по жизни</a>
          </li>
          <li class="question__link">
            <a href="#">Хочу быть счастливой!</a>
          </li>
          <li class="question__link">
            <a href="#">Склонность к жестокости</a>
          </li>
          <li class="question__link">
            <a href="#">Мне нравится грустить. Быть одному, но в тоже время мне плохо</a>
          </li>
        </ul>
      </li>

      <li class="question__item">
        <div class="question__main">
          <h3 class="question__title">
            <span>
              @@include('./relative.svg')
            </span>
            Отношения в парах</h3>
          <p class="question__text">Несчастная любовь, измены, расставания,
            ревность, боязнь близости, страх отвержения. Еонфликты. Как построить отношения.
          </p>
        </div>
        <ul class="question__links">
          <li class="question__link">
            <a href="#">В поделении парня виновата я сама</a>
          </li>
          <li class="question__link">
            <a href="#">Запуталась в отношениях</a>
          </li>
          <li class="question__link">
            <a href="#">Стабильность или новые отношения</a>
          </li>
          <li class="question__link">
            <a href="#">Психую по поводу и без повода. Проблемы в паре</a>
          </li>
          <li class="question__link">
            <a href="#">Как вернуть любимого?</a>
          </li>
        </ul>
      </li>

      <li class="question__item">
        <div class="question__main">
          <h3 class="question__title">
            <span>
              @@include('./family.svg')
            </span>
            Семейные отношения</h3>
          <p class="question__text">Одиночество, неуверенность в себе, тревога, страх, потери,
            отсутствие смысла жизни, травмы, стресс, депрессия, психосоматические заболевания, нарушение, сна,
            панические атаки, навязчивые идеи, зависимости. Самоанализ, самопознание.
          </p>
        </div>
        <ul class="question__links">
          <li class="question__link">
            <a href="#">Апатия и как с ней бороться</a>
          </li>
          <li class="question__link">
            <a href="#">Вранье и преувеличение по жизни</a>
          </li>
          <li class="question__link">
            <a href="#">Хочу быть счастливой!</a>
          </li>
          <li class="question__link">
            <a href="#">Склонность к жестокости</a>
          </li>
          <li class="question__link">
            <a href="#">Мне нравится грустить. Быть одному, но в тоже время мне плохо</a>
          </li>
        </ul>
      </li>

      <li class="question__item">
        <div class="question__main">
          <h3 class="question__title">
            <span>
              @@include('./seks.svg')
            </span>
            Сексология</h3>
          <p class="question__text">Несчастная любовь, измены, расставания, ревность,
            боязнь близости, страх отвержения. Еонфликты. Как построить отношения.
          </p>
        </div>
        <ul class="question__links">
          <li class="question__link">
            <a href="#">В поделении парня виновата я сама</a>
          </li>
          <li class="question__link">
            <a href="#">Запуталась в отношениях</a>
          </li>
          <li class="question__link">
            <a href="#">Стабильность или новые отношения</a>
          </li>
          <li class="question__link">
            <a href="#">Психую по поводу и без повода. Проблемы в паре</a>
          </li>
          <li class="question__link">
            <a href="#">Как вернуть любимого?</a>
          </li>
        </ul>
      </li>

      <li class="question__item">
        <div class="question__main">
          <h3 class="question__title">
            <span>
              @@include('./kind.svg')
            </span>
            Детская психология</h3>
          <p class="question__text">Беременость и роды, младенчество, дошкольный возраст, младший школьный возраст,
            пубертатный период, юношество: развитие и воспитание детей,
            проблемы в учебе, поведении, отсутствие контакта. Консультации детского психолога онлайн.
          </p>
        </div>
        <ul class="question__links">
          <li class="question__link">
            <a href="#">В поделении парня виновата я сама</a>
          </li>
          <li class="question__link">
            <a href="#">Запуталась в отношениях</a>
          </li>
          <li class="question__link">
            <a href="#">Стабильность или новые отношения</a>
          </li>
          <li class="question__link">
            <a href="#">Психую по поводу и без повода. Проблемы в паре</a>
          </li>
          <li class="question__link">
            <a href="#">Как вернуть любимого?</a>
          </li>
        </ul>
      </li>

      <li class="question__item">
        <div class="question__main">
          <h3 class="question__title">
            <span>
              @@include('./dream.svg')
            </span>
            Толкование снов в психологии. Астрология</h3>
          <p class="question__text">Психологи прокомментируют Ваши сновидения. Вещиеи повторяющиеся сны.
            Они все имеют свою природу.
          </p>
        </div>
        <ul class="question__links">
          <li class="question__link">
            <a href="#">Апатия и как с ней бороться</a>
          </li>
          <li class="question__link">
            <a href="#">Вранье и преувеличение по жизни</a>
          </li>
          <li class="question__link">
            <a href="#">Хочу быть счастливой!</a>
          </li>
          <li class="question__link">
            <a href="#">Склонность к жестокости</a>
          </li>
          <li class="question__link">
            <a href="#">Мне нравится грустить. Быть одному, но в тоже время мне плохо</a>
          </li>
        </ul>
      </li>

      <li class="question__item">
        <div class="question__main">
          <h3 class="question__title">
            <span>
              @@include('./food.svg')
            </span>
            Психологические пищевые нарушения</h3>
          <p class="question__text">Депрессия и различные виды нарушений адаптаци человека. получение инвалидности,
            изменение уклада жизни.
            Для реабилитации необходим комплексный подход с привлечением специалистов
          </p>
        </div>
        <ul class="question__links">
          <li class="question__link">
            <a href="#">Апатия и как с ней бороться</a>
          </li>
          <li class="question__link">
            <a href="#">Вранье и преувеличение по жизни</a>
          </li>
          <li class="question__link">
            <a href="#">Хочу быть счастливой!</a>
          </li>
          <li class="question__link">
            <a href="#">Склонность к жестокости</a>
          </li>
          <li class="question__link">
            <a href="#">Мне нравится грустить. Быть одному, но в тоже время мне плохо</a>
          </li>
        </ul>
      </li>

      <li class="question__item">
        <div class="question__main">
          <h3 class="question__title">
            <span>
              @@include('./all.svg')
            </span>
            Общие вопросы по психологии</h3>
          <p class="question__text">Работа. Общение (взаимоотношения) между коллегами, вопросы психологии по
            бизнесу и прдпринимательству. Выбор профессии, трудности на работе. Консультации и советы психологов.
          </p>
        </div>
        <ul class="question__links">
          <li class="question__link">
            <a href="#">В поделении парня виновата я сама</a>
          </li>
          <li class="question__link">
            <a href="#">Запуталась в отношениях</a>
          </li>
          <li class="question__link">
            <a href="#">Стабильность или новые отношения</a>
          </li>
          <li class="question__link">
            <a href="#">Психую по поводу и без повода. Проблемы в паре</a>
          </li>
          <li class="question__link">
            <a href="#">Как вернуть любимого?</a>
          </li>
        </ul>
      </li>

      <li class="question__item">
        <div class="question__main">
          <h3 class="question__title">
            <span>
              @@include('./reanim.svg')
            </span>
            Психологическая реабилитация</h3>
          <p class="question__text">Депрессия и различные виды нарушений адаптаци человека.
            Получение инвалидности, изменение уклада жизни. Для реабилитации необходим комплексный подход
            с привлечением специалистов.
          </p>
        </div>
        <ul class="question__links">
          <li class="question__link">
            <a href="#">В поделении парня виновата я сама</a>
          </li>
          <li class="question__link">
            <a href="#">Запуталась в отношениях</a>
          </li>
          <li class="question__link">
            <a href="#">Стабильность или новые отношения</a>
          </li>
          <li class="question__link">
            <a href="#">Психую по поводу и без повода. Проблемы в паре</a>
          </li>
          <li class="question__link">
            <a href="#">Как вернуть любимого?</a>
          </li>
        </ul>
      </li>

      <li class="question__item">
        <div class="question__main">
          <h3 class="question__title">
            <span>
              @@include('./business.svg')
            </span>
            Социальная псибология, отношения в коллективе</h3>
          <p class="question__text">Депрессия и различные виды нарушений адаптаци человека. получение инвалидности,
            изменение уклада жизни.
            Для реабилитации необходим комплексный подход с привлечением специалистов
          </p>
        </div>
        <ul class="question__links">
          <li class="question__link">
            <a href="#">Апатия и как с ней бороться</a>
          </li>
          <li class="question__link">
            <a href="#">Вранье и преувеличение по жизни</a>
          </li>
          <li class="question__link">
            <a href="#">Хочу быть счастливой!</a>
          </li>
          <li class="question__link">
            <a href="#">Склонность к жестокости</a>
          </li>
          <li class="question__link">
            <a href="#">Мне нравится грустить. Быть одному, но в тоже время мне плохо</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>