<section class="stat">
  <div class="wrapper">
    <ul class="stat__list">
      <li class="stat__item">
        <span class="stat__percent">97 %</span>
        @@include('./like.svg')
        <span class="stat__name">Положительных отзывов</span>
      </li>
      <li class="stat__item">
        <span class="stat__percent">9 310</span>
        @@include('./chat.svg')
        <span class="stat__name">Проведено консультаций</span>
      </li>
      <li class="stat__item">
        <span class="stat__percent">7 482</span>
        @@include('./consult.svg')
        <span class="stat__name">Человек получили консультацию</span>
      </li>
      <li class="stat__item">
        <span class="stat__percent">785</span>
        @@include('./people.svg')
        <span class="stat__name">Психологов</span>
      </li>
    </ul>
  </div>
</section>