<section class="talk">
  <div class="wrapper">
    <p class="talk__intro">
      На нашем сайте Вы можете пообщаться в чате или на форуме с психологами или с другими гостями,
      почитать другие статьи, темы созданные нашими психологами.
    </p>

    <ul class="talk__list">
      <li class="talk__item talk__item--club">
        <h3 class="talk__item-name">Клуб PSY</h3>

        <ul class="talk__item-list">

          <li class="talk__item-item">
            <div class="talk__foto-box">
              <img class="talk__foto" src="./static/img/women.png" width="118" alt="photo">
            </div>

            <div class="talk__descr">
              <a class="talk__item-title" href="#">Треугольник комплекса неполно...</a>
              <span class="talk__when text--when">Сегодня в 03:58</span>
            </div>
          </li>

          <li class="talk__item-item">
            <div class="talk__foto-box">
              <img class="talk__foto" src="./static/img/life.png" width="92" alt="photo">
            </div>

            <div class="talk__descr">
              <a class="talk__item-title" href="#">Тяжесть и легкость жизни...</a>
              <span class="talk__when text--when">Сегодня в 03:58</span>
            </div>
          </li>

          <li class="talk__item-item">
            <div class="talk__foto-box">
              <img class="talk__foto" src="./static/img/graal.png" width="93" alt="photo">
            </div>

            <div class="talk__descr">
              <a class="talk__item-title" href="#">Грааль или архетип вернувшегося ...</a>
              <span class="talk__when text--when">Сегодня в 03:58</span>
            </div>
          </li>
        </ul>

        <a class="talk__all" href="#">Все темы</a>
      </li>

      <li class="talk__item talk__item--club">
        <h3 class="talk__item-name">Психологи говорят</h3>

        <ul class="talk__item-list">

          <li class="talk__item-item">
            <div class="talk__foto-box">
              <img class="talk__foto" src="./static/img/talk-1.png" width="101" alt="photo">
            </div>

            <div class="talk__descr">
              <a class="talk__item-title" href="#">Треугольник комплекса неполно...</a>
              <span class="talk__when text--when">Сегодня в 03:58</span>
            </div>
          </li>

          <li class="talk__item-item">
            <div class="talk__foto-box">
              <img class="talk__foto" src="./static/img/talk-2.png" width="95" alt="photo">
            </div>

            <div class="talk__descr">
              <a class="talk__item-title" href="#">Тяжесть и легкость жизни...</a>
              <span class="talk__when text--when">Сегодня в 03:58</span>
            </div>
          </li>

          <li class="talk__item-item">
            <div class="talk__foto-box">
              <img class="talk__foto" src="./static/img/talk-3.png" width="98" alt="photo">
            </div>

            <div class="talk__descr">
              <a class="talk__item-title" href="#">Грааль или архетип вернувшегося ...</a>
              <span class="talk__when text--when">Сегодня в 03:58</span>
            </div>
          </li>
        </ul>

        <a class="talk__all" href="#">Все темы</a>

      </li>

      <li class="talk__item talk__item--club">
        <h3 class="talk__item-name">В кафе у Фрейда</h3>

        <ul class="talk__item-list">

          <li class="talk__item-item">
            <div class="talk__foto-box">
              <img class="talk__foto" src="./static/img/freid-1.png" width="76" alt="photo">
            </div>

            <div class="talk__descr">
              <a class="talk__item-title" href="#">Треугольник комплекса неполно...</a>
              <span class="talk__when text--when">Сегодня в 03:58</span>
            </div>
          </li>

          <li class="talk__item-item">
            <div class="talk__foto-box">
              <img class="talk__foto" src="./static/img/freid-2.png" width="102" alt="photo">
            </div>

            <div class="talk__descr">
              <a class="talk__item-title" href="#">Тяжесть и легкость жизни...</a>
              <span class="talk__when text--when">Сегодня в 03:58</span>
            </div>
          </li>

          <li class="talk__item-item">
            <div class="talk__foto-box">
              <img class="talk__foto" src="./static/img/freid-3.png" width="102" alt="photo">
            </div>

            <div class="talk__descr">
              <a class="talk__item-title" href="#">Грааль или архетип вернувшегося ...</a>
              <span class="talk__when text--when">Сегодня в 03:58</span>
            </div>
          </li>
        </ul>

        <a class="talk__all" href="#">Все темы</a>
      </li>
    </ul>
  </div>
</section>