<section class="useful">
  <h2 class="text--xl">Будет полезно:</h2>
  <ul class="useful__list">
    <li>
      <span class="useful__title">Вы можете написать 1</span>
      <span class="useful__text">Текст описания Текст описания Текст описания
        Текст описания Текст описания Текст описания Текст описания</span>
    </li>
    <li>
      <span class="useful__title">Вы можете написать 2</span>
      <span class="useful__text">Текст описания Текст описания Текст описания
        Текст описания Текст описания Текст описания Текст описания</span>
    </li>
    <li>
      <span class="useful__title">Вы можете написать 3</span>
      <span class="useful__text">Текст описания Текст описания Текст описания
        Текст описания Текст описания Текст описания Текст описания</span>
    </li>
  </ul>
</section>